* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* page layout */
#page-wrapper{
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(238,238,238,1),rgba(204,204,204,1));
    width: 100%;
}

header{
    display: flex;
    position: fixed;
    flex-direction: column;
    background: linear-gradient(rgba(238,238,238,1),rgba(204,204,204,1));
    width: 100%;
}

#header1{
    height: 80px;
}

#header2{
    height: 40px;
}

#main-ctn{
    height: auto; 
    margin: auto 8em;
}

/* Title */
#main-title{
    font-size: 60px;
    font-family: 'Oswald', Arial;
    text-align: center; 
}

#header2{
    display:flex;
    align-items:center;
    justify-content:center;
    }

#nav-bar{
    font-size: 20px;
    font-family: 'Oswald', arial;
    position: relative;
}

#nav-bar a{
    margin: 10px;
}

/* Dropdown Nav-Bar*/

.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: blue;
    padding: 10px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.nav-bar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }

.dropdown-links {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: silver;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-links a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-links a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-links {
    display: block;
}

/* end dropdown */

/* Banner */
#banner-ctn{
    
    height: 300px;
    width: 75%;
    justify-content: center;
    align-self: center;
    margin-top: 150px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#img-banner{
    height: 300px;
    width: 100%;
}
/* main-conten section*/
h2{
    font-size: 24px;
    font-family: 'Oswald', Arial;
    text-shadow: 2px 2px rgba(230, 213, 61, 0.658);
    
}
section{
    margin: 20px;
}

a.anchor{
    display: block;
    position: relative;
    top: -130px;
    visibility: hidden;
}



.text-style {
    font-size: 18px;
    font-family: 'Ubuntu', times;
    text-indent: 40px;
    letter-spacing: 2px;
    font-weight: 100;
}

.img-ctn{
    margin: 5px 20px 5px 5px;
    float: right;
    width: 250px;
    height: 175px;
    border: solid 2px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.p-img{
    width: 250px;
    height: 175px;
}

h3{
    font-size: 18px;
    font-family: 'Oswald', Arial;
    text-shadow: 2px 2px rgba(230, 213, 61, 0.658);
}

.center{
    text-align: center;
}

ul{
    list-style-position: inside;
}

.li-indent{
    margin-left: 40px;
}

.li-title{
    font-size: 18px;
    text-shadow: 2px 2px rgba(230, 213, 61, 0.658);
}

/* Survey Form */
.p-survey{
    text-align: center;
}

#quick-survey{
    background: linear-gradient(rgba(238,238,238,1),rgba(204,204,204,1)); 
    margin: 2em 1em 0 1em;
    
    height: 100%;
    border-radius: 15px;
    padding: 50px;
    padding-top: 20px;
    box-shadow: 10px 15px;
}

.text-survey-style{
    font-size: 18px;
    font-family: 'Ubuntu', times;
    letter-spacing: 2px;
    font-weight: 100;
}

#survey-form ol{
    list-style: none;
    align-items: center;
    text-align:center;
    margin-top: 20px;
}

#survey-form ol li{
    margin-top: 10px;
}

#survey-form ol input{
    margin-top: 10px;
    font-weight: 200;
}

#survey-form ol label{
    padding: 0px 10px;
}

#dropdown{
    font-size: 16px;
    font-family: 'ubunto', times;
    height: 24px;
    width: auto;
    margin-top: 5px;
}

#email-ctn{
    text-align: center;
    margin-top: 30px;
}

#email{
    height: 24px;
    font-size: 16px;
    width: 25%;
}

#submit{
        box-shadow: 3px 4px 0px 0px #899599;
        background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
        background-color:#ededed;
        border-radius:16px;
        border:1px solid #d6bcd6;
        display:inline-block;
        cursor:pointer;
        color:#11181a;
        font-family:Arial;
        font-size:16px;
        margin-top: 15px;
        padding:6px 20px;
        text-decoration:none;
        text-shadow:0px 1px 0px #e1e2ed;
        
    }
  
    
